__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

/data/
/data_norm/
/outputs/
/runs/
/checkpoints/
/logs/
/tmp/

*.log
*.out
*.pt
*.pth
*.npz
*.npy
*.h5ad
*.pkl
*.bak

/data_external/
**/*.egg-info/

cross_check_dup.sh
cross_dup_report.txt
dup_svs_list.txt
dup_svs_over100M.txt
scan_dup_svs.sh
*.svs
data/raw_svs/
*.svs
data/raw_svs/
